session Rust = Main +
  options [timeout = 600]
  theories
    Rust_Setup
    OML_Setup

session Test in "@TEST_DIR@" = Rust +
  description "@TEST_THEORY@ test session"
  options [timeout = 300]
  theories [document = false, condition = ISABELLE_GOEXE]
    "@TEST_THEORY@"
  export_files
    "*:**.rs"
    "*:**.ML"
    "*:**.ocaml"
    "*:**.toml"
